{% extends "layout.html" %} {% block content %}

<head>

    <!--lee codigo css-->
    <link type="text/css" href="../static/style/style.css" rel="stylesheet" media="screen" />
</head>
<div class="jumbotron">

    <body>
        <div id="todo" class="todoNo">
            <div id="menu" class="menuNo">

                <head>
                    <!--lee codigo javascript-->
                    <script type="text/javascript" src="js/javascript.js"></script>
                </head>


                <!--Producto del 1 al 9-->
                <div id="div1" name="DIVS"></div>
                <div id="div2" name="DIVS"></div>
                <div id="div3" name="DIVS"></div>
                <div id="div4" name="DIVS"></div>
                <div id="div5" name="DIVS"></div>
                <div id="div6" name="DIVS"></div>
                <div id="div7" name="DIVS"></div>
                <div id="div8" name="DIVS"></div>
                <div id="div9" name="DIVS"></div>


                <!--Botones de compra-->
                <div id="divbotones">
                    <input type="button" id="botonTotal" value="Calcular total" />
                    <input type="button" id="botonDatos" value="Datos personales" disabled="disabled" />
                    <input type="button" id="botonPago" value="Pago" disabled="disabled" />
                    <input type="button" id="botonConfirmar" value="Confirmar pedido" disabled="disabled" />
                </div>


                <!--zona de compra, tablas, formularios, etc.-->
                <div id="divZonaCompra" class="divZonaCompraNo">


                    <!--Carrito de la compra-->
                    <div id="divTotal" class="divsNo">
                        <p><b>Carrito de la compra, si quiere hacer alguna modificacion aun esta a tiempo:</b></p>
                        <table id="tablaTotal"></table>
                    </div>


                    <!--Datos personales-->
                    <div id="divDatos" class="divsNo">
                        <p><b>Introduzca sus datos personales:</b></p>

                        <div id="divDatosPersonales0">
                            <div id="divDatosPersonales1">
                                <label>Nombre completo:</label><br/>
                                <input type="text" id="nombre" value="" size="26" /><br/>


                                <label>DNI:</label><br/>
                                <input type="text" id="dni" value="" size="8" maxlength="9" /><br/>


                                <label>Fecha de nacimiento:</label><br/>
                                <select id="fechaNacimientoDia">
     <option value=""> dia </option>
     </select>
                                <select id="fechaNacimientoMes">
     <option value="">      mes</option>
     <option value="1">Enero</option>
     <option value="2">Febrero</option>
     <option value="3">Marzo</option>
     <option value="4">Abril</option>
     <option value="5">Mayo</option>
     <option value="6">Junio</option>
     <option value="7">Julio</option>
     <option value="8">Agosto</option>
     <option value="9">Septiembre</option>
     <option value="10">Octubre</option>
     <option value="11">Noviembre</option>
     <option value="12">Diciembre</option>
     </select>
                                <select id="fechaNacimientoAnio">
     <option value="">  año </option>
     </select><br/>
                            </div>

                            <div id="divDatosPersonales2">
                                <label>Telefono movil:</label><br/>
                                <input type="text" id="movil" value="" size="8" maxlength="9" /><br/>

                                <label>Email:</label><br/>
                                <input type="text" id="email1" value="" size="25" /><br/>

                                <label>Repita el email:</label><br/>
                                <input type="text" id="email2" value="" size="25" />
                            </div>
                        </div>


                        <div id="divDomicilio">
                            <label>Tipo de via:</label>
                            <select id="tipoDeVia">
     <option value="Avenida">Avenida</option>
     <option value="Calle"selected="selected">Calle</option>
     <option value="Camino">Camino</option>
     <option value="Carretera">Carretera</option>
     <option value="Pasaje">Pasaje</option>
     <option value="Plaza">Plaza</option>
     <option value="Residencia">Residencia</option>
     <option value="Ronda">Ronda</option>
     <option value="Travesia">Travesia</option>
     <option value="Urbanizacion">Urbanizacion</option>
     </select>

                            <label>Nombre via:</label>
                            <input type="text" id="viaNombre" value="" size="20" /><br/>

                            <label>Nº/km:</label>
                            <input type="text" id="viaNumero" value="" size="2" />

                            <label>Bloque:</label>
                            <input type="text" id="viaBloque" value="" size="2" />

                            <label>Escalera:</label>
                            <input type="text" id="viaEscalera" value="" size="2" />

                            <label>Piso:</label>
                            <input type="text" id="viaPiso" value="" size="2" /><br/>


                            <label>Localidad:</label>
                            <input type="text" id="localidad" value="" size="13" />

                            <label>Codigo Postal:</label>
                            <input type="text" id="codigoPostal" value="" size="5" maxlength="5" />

                            <label>Provincia:</label>
                            <select id="provincia">
     <option value="">          provincia</option>
     <option value="1"> ACAMBAY</option>
     <option value="2"> ACOLMAN</option>
     <option value="3"> ACULCO</option>
     <option value="4"> ALMOLOYA DE ALQUISIRAS</option>
     <option value="5"> ALMOLOYA DE JUÁREZ</option>
     <option value="6"> ALMOLOYA DEL RÍO</option>
     <option value="7"> AMANALCO</option>
     <option value="8"> AMATEPEC</option>
     <option value="9"> AMECAMECA</option>
     <option value="10"> APAXCO</option>
     <option value="11"> ATENCO</option>
     <option value="12"> ATIZAPÁN</option>
     <option value="13"> ATIZAPÁN DE ZARAGOZA</option>
     <option value="14"> ATLACOMULCO</option>
     <option value="15"> ATLAUTLA</option>
     <option value="16"> AXAPUSCO</option>
     <option value="17"> AYAPANGO</option>
     <option value="18"> CALIMAYA</option>
     <option value="19"> CAPULHUAC</option>
     <option value="20"> COACALCO DE BERRIOZÁBAL</option>
     <option value="21"> COATEPEC HARINAS</option>
     <option value="22"> COCOTITLÁN</option>
     <option value="23"> COYOTEPEC</option>
     <option value="24"> CUAUTITLÁN</option>
     <option value="25"> CHALCO</option>
     <option value="26"> CHAPA DE MOTA</option>
     <option value="27"> CHAPULTEPEC</option>
     <option value="28"> CHIAUTLA</option>
     <option value="29"> CHICOLOAPAN</option>
     <option value="30"> CHICONCUAC</option>
     <option value="31"> CHIMALHUACÁN</option>
     <option value="32"> DONATO GUERRA</option>
     <option value="33"> ECATEPEC</option>
     <option value="34"> ECATZINGO</option>
     <option value="35"> HUEHUETOCA</option>
     <option value="36"> HUEYPOXTLA</option>
     <option value="37"> HUIXQUILUCAN</option>
     <option value="38"> ISIDRO FABELA</option>
     <option value="39"> IXTAPALUCA</option>
     <option value="40"> IXTAPAN DE LA SAL</option>
     <option value="41"> IXTAPAN DEL ORO</option>
     <option value="42>" IXTLAHUACA</option>
     <option value="43"> XALATLACO</option>
     <option value="44"> JALTENCO</option>
     <option value="45"> JILOTEPEC</option>
     <option value="46"> JILOTZINGO</option>
     <option value="47"> JIQUIPILCO</option>
     <option value="48"> JOCOTITLÁN</option>
     <option value="49"> JOQUICINGO</option>
     <option value="50"> JUCHITEPEC</option>
     <option value="51"> LERMA</option>
     <option value="52"> MALINALCO</option>
     <option value="53"> MELCHOR OCAMPO</option>
     <option value="54"> METEPEC</option>
     <option value="55"> MEXICALTZINGO</option>
     <option value="56"> MORELOS</option>
     <option value="57"> NAUCALPAN DE JUÁREZ</option>
     <option value="58"> NEZAHUALCÓYOTL</option>
     <option value="59"> NEXTLALPAN</option>
     <option value="60"> NICOLÁS ROMERO</option>
     <option value="61"> NOPALTEPEC</option>
     <option value="62"> OCOYOACAC</option>
     <option value="63"> OCUILAN</option>
     <option value="64"> EL ORO</option>
     <option value="65"> OTUMBA</option>
     <option value="66"> OTZOLOAPAN</option>
     <option value="67"> OTZOLOTEPEC</option>
     <option value="68"> OZUMBA</option>
     <option value="69"> PAPALOTLA</option>
     <option value="70"> LA PAZ</option>
     <option value="71"> POLOTITLÁN</option>
     <option value="72"> RAYÓN</option>
     <option value="73"> SAN ANTONIO LA ISLA</option>
     <option value="74"> SAN FELIPE DEL PROGRESO</option>
     <option value="75"> SAN MARTÍN DE LAS PIRÁMIDES</option>
     <option value="76"> SAN MATEO ATENCO</option>
     <option value="77"> SAN SIMÓN DE GUERRERO</option>
     <option value="78"> SANTO TOMÁS</option>
     <option value="79"> SOYANIQUILPAN DE JUÁREZ</option>
     <option value="80"> SULTEPEC</option>
     <option value="81"> TECÁMAC</option>
     <option value="82"> TEJUPILCO</option>
     <option value="83"> TEMAMATLA</option>
     <option value="84"> TEMASCALAPA</option>
     <option value="85"> TEMASCALCINGO</option>
     <option value="86"> TEMASCALTEPEC</option>
     <option value="87"> TEMOAYA</option>
     <option value="88"> TENANCINGO</option>
     <option value="89"> TENANGO DEL AIRE</option>
     <option value="90"> TENANGO DEL VALLE</option>
     <option value="91"> TEOLOYUCAN</option>
     <option value="92"> TEOTIHUACÁN</option>
     <option value="93"> TEPETLAOXTOC</option>
     <option value="94"> TEPETLIXPA</option>
     <option value="95"> TEPOTZOTLÁN</option>
     <option value="96"> TEQUIXQUIAC</option>
     <option value="97"> TEXCALTITLÁN</option>
     <option value="98"> TEXCALYACAC</option>
     <option value="99"> TEXCOCO</option>
     <option value="100"> TEZOYUCA</option>
     <option value="101"> TIANGUISTENCO</option>
     <option value="102"> TIMILPAN</option>
     <option value="103"> TLALMANALCO</option>
     <option value="104"> TLALNEPANTLA DE BAZ</option>
     <option value="105"> TLATLAYA</option>
     <option value="106"> TOLUCA</option>
     <option value="107"> TONATICO</option>
     <option value="108"> TULTEPEC</option>
     <option value="109"> TULTITLÁN</option>
     <option value="110"> VALLE DE BRAVO</option>
     <option value="111"> VILLA DE ALLENDE</option>
     <option value="112"> VILLA DEL CARBÓN</option>
     <option value="113"> VILLA GUERRERO</option>
     <option value="114"> VILLA VICTORIA</option>
     <option value="115"> XONACATLÁN</option>
     <option value="116"> ZACAZONAPAN</option>
     <option value="117"> ZACUALPAN</option>
     <option value="118"> ZINACANTEPEC</option>
     <option value="119"> ZUMPAHUACÁN</option>
     <option value="120"> ZUMPANGO</option>
     <option value="121"> CUAUTITLÁN IZCALLI</option>
     <option value="122"> VALLE DE CHALCO SOLIDARIDAD</option>
     <option value="123"> LUVIANOS</option>
     <option value="124"> SAN JOSÉ DEL RINCÓN</option>
     <option value="125"> SANTA MARÍA TONANITLA</option>     
     </select>
                        </div>
                    </div>


                    <!--Datos de pago-->
                    <div id="divPago" class="divsNo">
                        <p><b>Introduzca los datos de la tarjeta de credito/debito donde se cargara el cobro:</b></p>


                        <label>Titular de la tarjeta:</label><br/>
                        <input type="text" id="titular" value="" size="26" /><br/>


                        <div id="metodosDePago">
                            <label><span  id="alertTipoDeTarjeta">Tipo de tarjeta:</span></label><br/>
                            <label for="visa">
     <input type="radio" id="visa" name="tarjetas" class="logoTarjetas" value="Visa">
     <img src="img/pago/visa.gif"></img>
     </label>

                            <label for="masterCard">
     <input type="radio" id="masterCard" name="tarjetas" class="logoTarjetas" value="MasterCard">
     <img src="img/pago/mastercard.gif"></img>
     </label>

                            <label for="amex">
     <input type="radio" id="amex" name="tarjetas" class="logoTarjetas" value="American Express">
     <img src="img/pago/amex.gif"></img>
     </label>

                            <label for="aurora">
     <input type="radio" id="aurora" name="tarjetas" class="logoTarjetas" value="Aurora">
     <img src="img/pago/aurora.gif"></img>
     </label>

                        </div>


                        <div id="divNumeroTarjeta">
                            <label>Número tarjeta y CVC:</label><br/>
                            <input type="text" id="numeroTarjeta" value="" size="15" maxlength="16" />
                            <input type="text" id="cvcTarjeta" value="" size="2" maxlength="3" /><br/>


                            <select id="mesTarjeta">
     <option value="">  mes </option>
     </select>

                            <select id="anioTarjeta">
     <option value="">  año </option>
     </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="pie">Imagen de fondo propiedad de <a href="http://www.appinformatica.com/" target="_black">appinformatica</a></p>
    </body>

</div>
{% endblock %}